<!-- Primary Meta Tags -->
<title>{{#if meta.browserTitle}}{{meta.browserTitle}}{{else}}{{#if meta.title}}{{meta.title}}{{else}}{{#if
    title}}{{title}}{{else}}Alvaro Vaca - Candidato al Senado 2026{{/if}}{{/if}}{{/if}}</title>
<meta name="title"
    content="{{#if meta.browserTitle}}{{meta.browserTitle}}{{else}}{{#if meta.title}}{{meta.title}}{{else}}{{#if title}}{{title}}{{else}}Alvaro Vaca - Candidato al Senado 2026{{/if}}{{/if}}{{/if}}">
<meta name="description"
    content="{{#if meta.browserDescription}}{{meta.browserDescription}}{{else}}{{#if meta.description}}{{meta.description}}{{else}}Sitio oficial de Alvaro Vaca, candidato al Senado 2026. Elecciones Congreso, Marzo 8.{{/if}}{{/if}}">
<meta name="keywords"
    content="Alvaro Vaca, Senado 2026, Congreso, Colombia, Elecciones, Candidato, Meta, Villavicencio">
<meta name="author" content="Alvaro Vaca">
<meta name="robots" content="index, follow">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://alvarovaca.com.co{{#if currentPath}}{{currentPath}}{{/if}}">
<meta property="og:title"
    content="{{#if meta.ogTitle}}{{meta.ogTitle}}{{else}}{{#if meta.browserTitle}}{{meta.browserTitle}}{{else}}{{#if meta.title}}{{meta.title}}{{else}}{{#if title}}{{title}}{{else}}Alvaro Vaca - Candidato al Senado 2026{{/if}}{{/if}}{{/if}}{{/if}}">
<meta property="og:description"
    content="{{#if meta.ogDescription}}{{meta.ogDescription}}{{else}}{{#if meta.browserDescription}}{{meta.browserDescription}}{{else}}{{#if meta.description}}{{meta.description}}{{else}}Sitio oficial de Alvaro Vaca. Conoce mis propuestas y trayectoria.{{/if}}{{/if}}{{/if}}">
<meta property="og:image"
    content="{{#if meta.ogImage}}{{meta.ogImage}}{{else}}{{#if meta.image}}{{meta.image}}{{else}}https://alvarovaca.com.co/assets/FOTO CAMPAÑA.png{{/if}}{{/if}}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://alvarovaca.com.co{{#if currentPath}}{{currentPath}}{{/if}}">
<meta property="twitter:title"
    content="{{#if meta.twitterTitle}}{{meta.twitterTitle}}{{else}}{{#if meta.browserTitle}}{{meta.browserTitle}}{{else}}{{#if meta.title}}{{meta.title}}{{else}}{{#if title}}{{title}}{{else}}Alvaro Vaca - Candidato al Senado 2026{{/if}}{{/if}}{{/if}}{{/if}}">
<meta property="twitter:description"
    content="{{#if meta.twitterDescription}}{{meta.twitterDescription}}{{else}}{{#if meta.browserDescription}}{{meta.browserDescription}}{{else}}{{#if meta.description}}{{meta.description}}{{else}}Sitio oficial de Alvaro Vaca. Conoce mis propuestas y trayectoria.{{/if}}{{/if}}{{/if}}">
<meta property="twitter:image"
    content="{{#if meta.twitterImage}}{{meta.twitterImage}}{{else}}{{#if meta.image}}{{meta.image}}{{else}}https://alvarovaca.com.co/assets/FOTO CAMPAÑA.png{{/if}}{{/if}}">